block variables
include common/mixins

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="description" name="loftschool_work")
        meta(content="keywords" name="Loftschool")
        meta(content="author" name="Andrey Azimov")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="icon" href="assets/images/fav_mount.png")
        link(rel="stylesheet", href="assets/styles/app.min.css")
        script(src="assets/scripts/bundle.js" defer)
    body
        .wrapper
            block content
        