footer.footer
    .footer-row.border-line
        .footer-col
            ul.main-menu.main-menu__footer
                each item, index in {"my-works.html": 'Мои работы', "about.html": 'Обо мне', "blog.html": 'Блог', "index.html": 'Авторизация'}
                    li.main-menu__item.main-menu__item_footer
                        a.main-menu__link(href= ""+index)= item
        .footer-col
             +socials('socials_rounded')
        
    .footer-row
        .footer-col.footer-col_marg-bot
            span.footer-text
            | Я веб-разработчик из Курска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer-col
            span.footer-text
            | © Андрей Азимов | создано с любовью в LoftSchool | 2016
