header.header
    .top-line
        +socials('socials__item_white')
        .hamburger.header__menu
            .hamburger__line
            .hamburger__line
            .hamburger__line 
        .fullscreen-menu
            ul.fullscreen-menu__list
                li.fullscreen-menu__item
                    a.fullscreen-menu__link.h3.main-title.line-h3(href="my-works.html") Мои работы
                li.fullscreen-menu__item
                    a.fullscreen-menu__link.h3.main-title.line-h3(href="about.html") Обо мне
                li.fullscreen-menu__item
                    a.fullscreen-menu__link.h3.main-title.line-h3(href="blog.html") Блог
                li.fullscreen-menu__item
                    a.fullscreen-menu__link.h3.main-title.line-h3(href="index.html") Авторизация    
    .parallax-wrap    
        .bg-img
            img(src="assets/images/mount-bg.jpg", alt="mount")
            
        .portfolio
        .about-me.about-me__white
            .about-me__img-rounded.img-rounded.img-rounded_size_big
                img(src="assets/images/avatar.png", alt="avatar")
                
            .h3.about-me__title Андрей Азимов
            .span.about-me__description Личный сайт веб-разработчика
    .arrow-down.header__arrow
        a(href=".arrow-to-section").arrow-down__link
            svg.arrow-down__img
                use(xlink:href="assets/images/sprite.svg#arrow_down")
    .triangle.about__triangle
                svg.triangle-pic(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
                    polygon(class = 'left' points="0,0 0,86 500.8,86 500.8,75.5")
                    polygon(class = 'right' points="1000,0 1000,86 500,86 500,75.5")