.slider.arrow-to-section
    .slider-info
        .slider-info__wrap
            h3.h3.main-title.slider-info__title
                | Сайт школы онлайн образования
            .slider-info__lang 
                | Html, css, javascript
            a(href="#").slider-info-btn__link.button_radius.slider_sign
                span.slider-info-btn
                    | Посмотреть сайт
    .slider-show
        .slider-show__wrap
            img.slider-show__img.active-img(src="assets/images/work-1.png" alt='work-1')
            img.slider-show__img(src="assets/images/work-2.png" alt='work-2')
            img.slider-show__img(src="assets/images/work-3.png" alt='work-3')                  
    .slider-btns
        button.slider-button.slider-button_prev
            svg.portf-arrow
                use(xlink:href="assets/images/sprite.svg#portf_arrow_down")
            .slider-button__wrap
                img.slider-button__img-down.active-btn(src="assets/images/work-3.png" alt='work-3')
                img.slider-button__img-down(src="assets/images/work-1.png" alt='work-2')
                img.slider-button__img-down(src="assets/images/work-2.png" alt='work-1')        
        button.slider-button.slider-button_next
            svg.portf-arrow
                use(xlink:href="assets/images/sprite.svg#portf_arrow_up")
            .slider-button__wrap
                img.slider-button__img-up.active-btn(src="assets/images/work-2.png" alt='work-3')
                img.slider-button__img-up(src="assets/images/work-3.png" alt='work-2')
                img.slider-button__img-up(src="assets/images/work-1.png" alt='work-1')
            
        