p Я умею
    ul.technologies
        li
            img(src="assets/images/avatar.png", alt="")
        li
            img(src="assets/images/in.svg", alt="")
        li
            img(src="assets/images/github.svg", alt="")
        li
            img(src="assets/images/hamburger.svg", alt="")  
            
        