extends ../template

block variables
include ../common/mixins


block variables
    - var title = "Добро пожаловать"
block content
    include ../common/preloader
    .content.welcome-content
        section.welcome
            #parallax.parallax
                - for (var i = 9; i > 0; i--)
                    .parallax__layer
                        img(src= `assets/images/bg-parallax_img_0${i}.png`).parallax__img
            button.button.sign-in
                span.span Авторизоватьcя
            
            .block-info
                .about-me__wrapper
                    .about-me.about-me_welcome
                        .about-me__img-rounded.img-rounded.img-rounded_size_big
                            img(src="assets/images/avatar.png", alt="avatar")
                        h4.h4.about-me__title Андрей Азимов
                        span.about-me__description Личный сайт веб-разработчика
                    +socials('socials__item_green')
                    ul.menu
                        li.menu__item
                            a.menu__link(href="my-works.html") Мои работы
                        li.menu__item
                            a.menu__link(href="about.html") Обо мне
                        li.menu__item
                            a.menu__link(href="blog.html") Блог
                .login__wrapper.active-sign
                    .login
                        h3.login__title.h3.main-title.line-h3 Авторизуйтесь
                        form.main-form
                            .main-form__dates
                                .input-wrapper.input_text
                                    input(type="text" placeholder="Логин" id='user-name').input.input_login
                                .input-wrapper.input_password
                                    input(type="password" placeholder="Пароль" id='user-pass').input.input_login
                                .checkbox  
                                    .checkbox__human.item-checkbox
                                        input(type="checkbox" id="human")
                                        label(for="human") Я человек
                                    .checkbox__robot
                                        span.span Вы точно не робот?
                                        .robot-radio
                                            .robot-radio__yes.item-checkbox
                                                input(type="checkbox" id="yes")
                                                label(for="yes") Да
                                            .robot-radio__not-sure.item-checkbox     
                                                input(type="checkbox" id="not-sure")
                                                label(for="not-sure") Не уверен
                            ul.menu
                                li.menu__item.to-main
                                    a.menu__link(href="#") На главную
                                li.menu__item
                                    button(type="submit").menu__button Войти
                        
                            
                            
                        


                
    footer.footer-welcome
        .footer__text <span class= "name-text"> © Андрей Азимов |</span> создано с любовью в LoftSchool | 2016        