extends ../template

block variables
    - var title = "Мои работы"

block content
    include ../common/preloader
    .content.my-works__header
        include ../common/header.pug
        section.my-works
            .my-works__title.bg-title.bg-title_size_big
                h2.h2.bg-title__text.main-title.line-works Мои работы
            include ../common/slider
        section.form
            .form__wrap
                .form-bg
                    img(src="assets/images/bg-form1-png.png", alt="avatar")
                .form__title.bg-title.bg-title_size_big
                    h2.h2.form__text.main-title.form__text.line-about-talk Что обо мне говорят
                .form__comments.comments
                    .comments-block
                        p.p.comments__paragraph 
                            | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .comments__man-dates.man-dates
                            .man-dates__wrap
                                .man-dates_photo.about-me__img-rounded.img-rounded.img-rounded_size_small
                                    img(src="assets/images/photo1_comment.png", alt="avatar")
                                .man-dates__description
                                    span.span.man-dates__name Ковальчук Дмитрий
                                    span.span.man-dates__info основатель Loftschool
                    .comments-block
                        p.p.comments__paragraph 
                            | Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                        .comments__man-dates.man-dates        
                            .man-dates__wrap
                                .man-dates_photo.about-me__img-rounded.img-rounded.img-rounded_size_small
                                    img(src="assets/images/photo2_comment.png", alt="avatar")
                                .man-dates__description
                                    span.span.man-dates__name Сабанцев Владимир
                                    span.span.man-dates__info преподаватель
                form.form_connect.connect
                    .connect__bg
                    .connect__content
                        h3.h3.main-title.text__subtitle.main-title.connect__title Связаться со мной
                        input.input.input_my-works(type="text", name="name" placeholder="Имя")
                        input.input.input_my-works(type="email", name="name" placeholder="Email")
                        textarea.input.textarea(name="comment" placeholder="Ваше сообщение")
                    .form_btns-block                            
                        button(type='submit').slider-info-btn__link.form_btn
                            span.slider-info-btn
                                | Отправить
                        button(type='reset').slider-info-btn__link.form_btn
                            span.slider-info-btn
                                | Очистить
                .arrow-up
                    svg.arrow-down__img
                        use(xlink:href="assets/images/sprite.svg#arrow_down")

                                
    include ../common/footer

        